.Ball {
  background-image: linear-gradient(rgb(231, 118, 118), rgb(248, 248, 153));
  border-radius: 50%;
  color: black;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}
